{% extends "base.html" %}
{% load static custom_template_tags wagtailcore_tags wagtailembeds_tags wagtailimages_tags %}

{% block extra_css %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/insights.css' %}">
{% endblock %}

{% block body_class %}template-insightspage{% endblock %}

{% block content %}
  <div class="container">
    <div class="headingInfo">
      <h6 class="postAuthor pb-4">
        {% for author in self.insights_authors.all %}
          {% image author.author.image fill-500x500 as img %}
          <li>
            {% if author.author.image %}
              <img class="authorImage" src="{{ img.url }}" alt="{{ author.author.name }}">
            {% else %}
              Author: 
            {% endif %}
            <small class="nameAndLinks">
              {{ author.author.name }}
              <!-- if author has website links filled out, add information -->
              {% if author.author.website %}
                {% for website in author.author.website %}
                  -
                  <a href="{{ website.value.website_link }}" target="_blank">{{ website.value.website_name }}</a>
                {% endfor %}
              {% endif %}
              <!-- if author has social media links filled out, add information -->
              {% if author.author.social_media %}
                {% for social_media_link in author.author.social_media %}
                  -
                  <a href="{{ social_media_link.value.social_media_link }}" target="_blank">{{ social_media_link.value.social_media_name }}</a>
                {% endfor %} 
                
              {% endif %}
              - 
              {{ page.date|date:"F j, Y" }}
            </small>
          </li>
        {% endfor %}
      </h6>
      
      <h1 class="postTitle">{{ page.title }}</h1>
      <h4 class="postIntro">{{ page.intro }}</h4>
    </div>
    <div class="row">
      <div class="col-md-9">
        <div class="mainPostImage">
          {% for item in page.gallery_images.all|slice:":1" %}
            {% image item.image original %}
          {% endfor %}
        </div>
      </div>
      <div class="col-md-3">
      </div>
    </div>

    <div class="row">
      <div class="col-md-9">
        <div class="bodyContent">
          {% for block in page.body %}
            {% if block.block_type == 'heading' %}
              <h2>{{ block.value }}</h2>
            {% elif block.block_type == 'embed' %}
              <section class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" width="640" height="360" src="{{ block.value.url|embedurl }}?rel=0" allowfullscreen></iframe>
              </section>
            {% else %}
              <section class="block-{{ block.block_type }}">
                {% include_block block %}
              </section>
            {% endif %}
          {% endfor %}
        </div>
      </div>
      <div class="col-md-3">
        <div class="posted">
          {% with categories=page.categories.all %}
            {% if categories %}
              <h5>Posted in:</h5>
              <ul>
                {% for category in categories %}
                  <li>
                    <a href="{{ self.get_parent.url }}?category={{ category.slug }}">{% image category.icon fill-200x200 style="vertical-align: middle" %} {{ category.name }}</a>
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          {% endwith %}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-9">
        {% if page.tags.all.count %}
          <div class="tags">
            <h5>Tags</h5>
            {% for tag in page.tags.all %}
              <a href="{% slugurl 'tags' %}?tag={{ tag }}"><button class="btn btn-sm" type="button">{{ tag }}</button></a>
            {% endfor %}
          </div>
        {% endif %}
        <div class="return">
          <a href="{{ page.get_parent.url }}">All Articles</a>
        </div>
      </div>
      <div class="col-md-3">
        
      </div>
    </div>

    
  </div>
{% endblock %}