{% load static wagtailuserbar wagtailcore_tags %}

<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <title>
            {% block title %}
                {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% with self.get_site.site_name as site_name %}
                    {% if site_name %}- {{ site_name }}{% endif %}
                {% endwith %}
            {% endblock %}
        </title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {# favicon #}
        <link rel="icon" type="image/svg" href="{% static 'images/logo.svg' %}"/>
        <!-- <link rel="icon" type="image/svg" href="../media/images/logo.svg"/> -->

        {# google monda font #}
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Monda:wght@400;700&display=swap" rel="stylesheet">

        {# Global stylesheets #}
        <!-- bootstrap 5.0 css -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        <!-- default css -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/garrettlesher_website.css' %}">
        <!-- RawHTMLBlock highlighting css stylesheet -->
        <link href="{% static 'css/prism.css' %}" rel="stylesheet" />
        

        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}

    </head>

    <body class="body {% block body_class %}{% endblock %}">
        {% wagtailuserbar %}
        <nav id="navbar">
            <div class="logo">
                <!-- <a href="/"><img alt="logo" src="{% static '../media/images/logo.svg' %}"></a> -->
            </div>
            <ul id="navUL" class="nav-links">
                <li>
                    <a href="{% slugurl 'home' %}">Profile</a>
                </li>
                <li>
                    <a href="{% slugurl 'home' %}#work">Work</a>
                </li>
                <li>
                    <a href="{% slugurl 'home' %}#contact">Contact</a>
                </li>
                <li>
                    <a href="{% slugurl 'insights' %}">Insights</a>
                </li>
            </ul>
            <div class="burger">
                <div class="line-1"></div>
                <div class="line-2"></div>
                <div class="line-3"></div>
            </div>
        </nav>

        {% block content %}{% endblock %}

        {# Global javascript #}

        <!-- jquery -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

        <!-- bootstrap 5.0 js -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
        <script type="text/javascript" src="{% static 'js/garrettlesher_website.js' %}"></script>
        <!-- RawHTMLBlock highlighting js -->
        <script src="{% static 'js/prism.js' %}" id="prismJS"></script>

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}
    </body>
</html>
